# Pandas par les pandas roux
<img src="https://i.pinimg.com/236x/e8/3b/99/e83b99c4bb1892b91a0658788593c25e.jpg">

<div class="alert alert-success">

<span class="label label-success" style="font-size:15px;">Liens utiles</span>
<br>https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/<br>

<br>http://eric.univ-lyon2.fr/~ricco/tanagra/fichiers/fr_Tanagra_Data_Manipulation_Pandas.pdf<br>

<br>Exercice santé<br></div>

## Chargement des données

In [28]:
import pandas as pd
# Charger les données
Location = "train.csv"
df = pd.read_csv(Location, sep = ',')

# Afficher les 5 premières lignes
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Manipulation des variables

### Accès aux colonnes

In [34]:
df[['Gender','Age']].head()

  Gender   Age
0      F  0-17
1      F  0-17
2      F  0-17
3      F  0-17
4      M   55+

In [36]:
df.Age.head()

0    0-17
1    0-17
2    0-17
3    0-17
4     55+
Name: Age, dtype: object

In [38]:
#affichage des dernières valeurs
df['Age'].tail()

550063    51-55
550064    26-35
550065    26-35
550066      55+
550067    46-50
Name: Age, dtype: object

In [47]:
#3 premières valeurs
print(df['Age'][0:3])

0    0-17
1    0-17
2    0-17
Name: Age, dtype: object

### Quelques opérations avec les columns

In [42]:
#trier les valeurs d'une variable de manière croissante
print(df['Product_Category_1'].sort_values().head())

271814    1
208659    1
436707    1
108508    1
208658    1
Name: Product_Category_1, dtype: int64

In [48]:
#nous pouvons aussi obtenir les indices des valeurs triées
print(df['Product_Category_1'].argsort().head())

0    271814
1    208659
2    436707
3    108508
4    208658
Name: Product_Category_1, dtype: int64

### Accès aux valeurs

In [45]:
#accès à la valeur située en (0,0)
print(df.iloc[0,0])

1000001

In [46]:
#5 premières valeurs de toutes les colonnes
#lignes => 0:5 (0 à 5 [non inclus])
#colonnes = : (toutes les colonnes)
print(df.iloc[0:5,:])

   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
4                 NaN                 NaN      7969

### Filtrage des données

In [50]:
print(df.loc[df['City_Category']=="A",:].head())

   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1000001  P00069042      F   0-17          10             A
1  1000001  P00248942      F   0-17          10             A
2  1000001  P00087842      F   0-17          10             A
3  1000001  P00085442      F   0-17          10             A
5  1000003  P00193542      M  26-35          15             A

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
5                          3               0                   1

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
5                 2.0                 NaN     15227

In [52]:
print(df.loc[df['City_Category'].isin(['A','B']),:].head())

   User_ID Product_ID Gender    Age  Occupation City_Category  \
0  1000001  P00069042      F   0-17          10             A
1  1000001  P00248942      F   0-17          10             A
2  1000001  P00087842      F   0-17          10             A
3  1000001  P00085442      F   0-17          10             A
5  1000003  P00193542      M  26-35          15             A

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
5                          3               0                   1

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
5                 2.0                 NaN     15227

In [55]:
print(df.loc[(df['City_Category']=="A") & (df['Product_Category_3'] == 14),:].head())

     User_ID Product_ID Gender    Age  Occupation City_Category  \
1    1000001  P00248942      F   0-17          10             A
14   1000006  P00231342      F  51-55           9             A
126  1000024  P00248942      F  26-35           7             A
405  1000068  P00248942      M  18-25           4             A
745  1000142  P00192042      M  26-35           7             A

    Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
1                            2               0                   1
14                           1               0                   5
126                          3               1                   1
405                          0               0                   1
745                          2               0                   5

     Product_Category_2  Product_Category_3  Purchase
1                   6.0                14.0     15200
14                  8.0                14.0      5378
126                 6.0                14.0     15774
405                 6.0                14.0     11429
745                 9.0                14.0      5267

## Nettoyage des données

### Traitement des valeurs nulles

In [88]:
# Remplacer par la moyenne ou par la valeur la plus fréquente
from sklearn.preprocessing import Imputer
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else round(X[c].value_counts().idxmax()) for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [89]:
imputer = DataFrameImputer()
imputer.fit(df)
df_train_imputer = imputer.transform(df)
df_train_imputer.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055

In [90]:
# Supprimer les colonnes na
df = df.dropna()

### Transformer les données

In [66]:
# Transformer en chiffres la colonne 'Gender'
from sklearn.preprocessing import LabelEncoder

number = LabelEncoder()
df_train_imputer['Gender'] = number.fit_transform(df_train_imputer['Gender'].astype(str))
df_train_imputer['Gender'].head()

0    0
1    0
2    0
3    0
4    1
Name: Gender, dtype: int64

In [72]:
# Concaténation
import numpy as np
tauxnet = np.log(df_train_imputer['Purchase'])
zeros = pd.DataFrame({'zeros':pd.Series(np.zeros(df.shape[0]))})

#laquelle variable peut être concaténée au DataFrame
newdf = pd.concat([df_train_imputer,tauxnet, zeros],axis=1)
newdf.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Purchase,zeros
0,1000001,P00069042,0,0-17,10,A,2,0,3,8.0,16.0,8370,9.032409,0.0
1,1000001,P00248942,0,0-17,10,A,2,0,1,6.0,14.0,15200,9.629051,0.0
2,1000001,P00087842,0,0-17,10,A,2,0,12,8.0,16.0,1422,7.259820,0.0
3,1000001,P00085442,0,0-17,10,A,2,0,12,14.0,16.0,1057,6.963190,0.0
4,1000002,P00285442,1,55+,16,C,4+,0,8,8.0,16.0,7969,8.983314,0.0

### Pivot Table

In [77]:
pivot = df_train_imputer.pivot_table(values=["Purchase"], index=["Gender","Age"], aggfunc=np.mean)
pivot

                 Purchase
Gender Age
0      0-17   8338.771985
       18-25  8343.180201
       26-35  8728.251754
       36-45  8959.844056
       46-50  8842.098947
       51-55  9042.449666
       55+    9007.036199
1      0-17   9235.173670
       18-25  9440.942971
       26-35  9410.337578
       36-45  9453.193643
       46-50  9357.471509
       51-55  9705.094802
       55+    9438.195603

### Cross table

In [83]:
two_way_table = pd.crosstab(index=df_train_imputer['Product_Category_2'], columns=df_train_imputer['Product_Category_1'])
two_way_table.head()

Product_Category_1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
Product_Category_2,,,,,,,,,,,,,,,,,,,,
2.0,49217,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3.0,119,2765,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4.0,685,8134,16858,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5.0,11267,4153,2264,8551,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6.0,10644,187,0,0,5635,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Merge Table

In [86]:
df_merge = pd.merge(df_train_imputer, df, on='Purchase')
df_merge.head()

,User_ID_x,Product_ID_x,Gender_x,Age_x,Occupation_x,City_Category_x,Stay_In_Current_City_Years_x,Marital_Status_x,Product_Category_1_x,Product_Category_2_x,...,Product_ID_y,Gender_y,Age_y,Occupation_y,City_Category_y,Stay_In_Current_City_Years_y,Marital_Status_y,Product_Category_1_y,Product_Category_2_y,Product_Category_3_y
0,1000001,P00069042,0,0-17,10,A,2,0,3,8.0,...,P00057542,M,36-45,1,A,3,1,3,4.0,5.0
1,1000001,P00069042,0,0-17,10,A,2,0,3,8.0,...,P00058142,M,26-35,11,A,4+,0,3,4.0,12.0
2,1000001,P00069042,0,0-17,10,A,2,0,3,8.0,...,P00137642,M,18-25,11,A,3,0,3,4.0,12.0
3,1000001,P00069042,0,0-17,10,A,2,0,3,8.0,...,P00351742,M,55+,13,C,0,1,3,4.0,12.0
4,1000001,P00069042,0,0-17,10,A,2,0,3,8.0,...,P00004842,M,18-25,0,C,1,0,3,4.0,12.0